<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{login}">Login</title>


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/fancy_form.css}">

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:text="#{home}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="#{registration}" href="/registration">Registration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form class="container" id="registrationForm" th:action="@{/login}" method="post">
    <div class="header row mt-5">
        <h2 class="col" th:text="#{login}">Login</h2>
    </div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <div class="row mt-3 justify-content-md-center">
        <input class="col-xl-8 text-center" name="username" id="email" th:placeholder='#{email}' type='email'>
    </div>
    <div class="row mt-3 justify-content-md-center">
        <input class="col-xl-8 text-center" id='password' name='password' th:placeholder='#{password}' type='password'>
    </div>
    <div class="row mt-3 justify-content-md-center">
        <input class="col-xl-8 text-center animated" type='submit' th:value="#{sign}">
    </div>
    <!-- Display the message if it exists -->
    <div class="row mt-3 justify-content-md-center">
        <div th:if="${message}" class="alert col-xl-8 alert-danger text-center" role="alert">
            <p th:text="${message}"></p>
        </div>
    </div>
    <div class="row mt-3 justify-content-md-center">
        <a class='forgot col-xl-8 text-center' th:text="#{dont.have.account}" href='/registration'>Don't have an account?</a>
    </div>
</form>

<!-- Bootstrap JS and dependencies (optional) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function() {
        // your code here
    });
</script>
