<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{user.dashboard}">User Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custom styles -->
    <link rel="icon" type="images/x-icon" href="/images/dashboard.icon.png" >
    <link rel="stylesheet" href="/css/dashboard.css">

</head>

<body class="body">

    <!-- Navigation -->
    <div th:replace="~{fragments/head::head}"></div>

    <section class="main-content container-fluid">

        <div class="row">

<!--            Sidebar Left nav-->

            <aside class="left-side col-lg-2 col-md-12 border-right border-dark mt-2">
                <div th:replace="~{fragments/sidebar-nav::sidebar-nav}"></div>
            </aside>

            <!-- Upcoming Events -->
            <aside class="right-side col-xl-10 col-md-12">
                <div class="container mt-4">



                    <div class="row">
                        <h1 class="border-bottom border-dark" th:text="#{hello} + ', ' + (${user} ?: 'user') + ', ' + #{you.have} + ' ' + ${remindersCount} + ' ' + #{events}">
                            Hello, user, you have 0 events.</h1>
                    </div>




                    <div class="row mt-4">

                        <div class="btn-group">
                            <button type="button button col-xl-4" th:text="#{expired.reminders} + (${expiredCount} ?: '0')" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropright
                            </button>
                            <div class="dropdown-menu">
                                <div th:each="expiredReminder : ${expiredReminders}">
                                    <div class="dropdown-item" th:text="${expiredReminder.name + ' ' + expiredReminder.expiration}">ReminderName ReminderExpiration</div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row mt-3">

                        <div class="btn-group ">
                            <button type="button col-xl-4" th:text="#{almost.expired.reminders} + ${almost} ?: '0'" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropright
                            </button>
                            <div class="dropdown-menu">
                                <div th:each="almostExpiredReminder : ${almostExpiredReminders}">
                                    <div class="dropdown-item" th:text="${almostExpiredReminder.name + ' ' + almostExpiredReminder.expiration}">ReminderName ReminderExpiration</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

        </div>
    </section>


    <!-- Footer -->
    <div th:replace="~{fragments/footer::footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</body>

<style>
    .dash {
        background: #ffca2c;
        color: black;
    }
    .dash:hover {
        background: #ffca2c;
        color: black;
    }
</style>

</html>