<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="#{home}">Home</title>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

	<link rel="icon" type="images/x-icon" href="/images/home.icon.png">
	<link rel="stylesheet" href="/css/index.css">
</head>

<body class="body">


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/" th:text="#{home}">Home</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav align-items-center">
				<li class="nav-item me-3 d-flex align-items-center text-white">
					<a class="nav-link" th:href="@{/login(lang=${#locale.language})}" th:text="#{login}">Login</a>
				</li>
				<li class="nav-item d-flex align-items-center text-white">
					<a class="nav-link" th:text="#{registration}" href="/registration">Registration</a>
				</li>
				<li class="nav-item dropdown ms-3">
					<button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						🌐
					</button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="?lang=bg">🇧🇬 Български</a></li>
						<li><a class="dropdown-item" href="?lang=ru">🇷🇺 Русский</a></li>
						<li><a class="dropdown-item" href="?lang=en">🇬🇧 English</a></li>
					</ul>
				</li>

			</ul>
		</div>
	</div>
</nav>


<!--end nav-->

<section class="main-content container-fluid">

	<div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">

			<div class="carousel-item active mt-2">
				<div class="custom-card text-white">
					<div class="card-body text-dark text-center">
						<h1 class="card-title" th:text="#{home.card1.title}">Never Miss an Event Again!</h1>
						<img src="/home.jpg" class="card-img-fixed  p-2" alt="...">
						<h3 class="card-text mb-6" th:text="#{home.card1.text}">Stay organized and on top of your
							schedule with our event reminder service.</h3>
					</div>
				</div>
			</div>

			<div class="carousel-item mt-2">
				<div class="custom-card text-white">
					<div class="card-body text-dark text-center">
						<h1 class="card-title" th:text="#{home.card2.title}">Be prepared with the ideal gift.</h1>

						<img src="/present.avif" class="card-img-fixed p-2 mb-6" alt="...">

						<p>
						<h3 class="card-text" th:text="#{home.card2.text.paragraph1}">Create and exchange</h3>
						</p>
						<p>
						<h3 class="card-text" th:text="#{home.card2.text.paragraph2}">wishlists with your</h3>
						</p>
						<p>
						<h3 class="card-text" th:text="#{home.card2.text.paragraph3}">family and friends.</h3>
						</p>
					</div>
				</div>
			</div>

			<div class="carousel-item mt-2">
				<div class="custom-card text-white">
					<div class="card-body text-dark text-center">
						<h1 class="card-title" th:text="#{recipe.card.title}">Save all your recipes.</h1>
						<div class="card-body text-dark text-center">
							<img src="/recipe.avif" class="card-img-fixed p-2 mb-6" alt="...">
							<p>
							<h3 class="card-text" th:text="#{recipe.card.text.paragraph1}">Retrieve them fast and easy
								by name or ingredients.</h3>
							</p>
						</div>
					</div>
				</div>
			</div>


			<div class="carousel-item mt-2">
				<div class="custom-card text-white">
					<div class="card-body text-dark text-center">
						<h1 class="card-title" th:text="#{shopping.card.title}">Make a simple and fast shopping
							list.</h1>
					</div>
					<img src="/shopping.jpg" class="card-img-fixed p-2 mb-6" alt="...">
				</div>
			</div>
		</div>

		<button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
			<span class="carousel-control-prev-icon bg-dark " aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
			<span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>


</section>

<!-- Footer -->
<div th:replace="~{fragments/footer::footer}"></div>


<!-- Bootstrap JS and dependencies -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
		crossorigin="anonymous"></script>


</body>

</html>