<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{reminders}">Reminders</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/css/default_layout_styles.css}">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/" th:text="#{home}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login?logout" th:text="#{logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="main-content container-fluid">

        <div class="row">


            <aside class="left-side col-lg-2 col-md-12 border-right border-left border-dark mt-2">
                <div class="container">
                    <div class="row h-100">
                        <div class="container">
                            <div class="row mt-2">
                                <a class="btn btn-success" href="/user" th:text="#{dashboard}">Dashboard</a>
                            </div>
                            <div class="row mt-2">
                                <a class="btn btn-warning" href="/user/reminders" th:text="#{reminders}">Reminders</a>
                            </div>
                            <div class="row mt-2">
                                <a class="btn btn-success" href="/user/wishes" th:text="#{wishlist}">Wishlist</a>
                            </div>
                            <div class="row mt-2 mb-2">
                                <a class="btn btn-success" href="/user/friends" th:text="#{friends}">Friends</a>
                            </div>
                            <div class="row mt-2 mb-2">
                                <a class="btn btn-success" href="/user/shoplist" th:text="#{shoplist}">Shopping List</a>
                            </div>
                            <div class="row mt-2 mb-2">
                                <a class="btn btn-success" href="/user/recipes" th:text="#{recipes}">Cooking Recipes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <!-- Upcoming Events -->
            <aside class="right-side col-xl-10 col-md-12">
                <div class="container mt-4">

                    <h4 class="mt-2" th:text="#{event.page.description}">Add an event, we will monitor and notify you about it.</h4>
                    <div class="row">
                        <a class="btn btn-success" href="/user/reminders/create" th:text="#{add.new.event}">Add New Event</a>
                    </div>
                    <!-- Example event card -->
                    <div class="row mt-4 border-top">

                        <h2 class="mb-4" th:text="#{your.events}">Your Events:</h2>
                        <div class="container-fluid mt-4">
                            <form th:action="@{/user/reminders/search}" th:method="get">
                                <div class="input-group mb-3">
                                    <input id="searchInput" th:name="searchValue" type="text" class="form-control col-6"
                                        th:placeholder="#{search.by.name}" aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <button class="btn btn-success" type="submit" th:text="#{search}">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <table class="table table-sm table-striped table-hover table-responsive mb-5">
                        <thead class="thead-dark">
                            <tr>
                                <th th:text="#{name}"> Name </th>
                                <th th:text="#{importance.level}"> Importance Level </th>
                                <th th:text="#{description}"> Description</th>
                                <th th:text="#{expiration}"> Expiration </th>
                                <th th:text="#{action}"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${reminders.empty}">
                                <td colspan="2" th:text="#{no.reminders.available}"> No Reminders Available </td>
                            </tr>
                            <tr th:each="reminder : ${reminders}" th:class="${reminder.expired} ? 'table-danger' : (${reminder.expiresSoon} ? 'table-warning' : 'table-success')">
                                <td><span th:text="${reminder.name}"> Name </span></td>
                                <td><span th:text="${reminder.importanceLevel}"> Importance Level </span></td>
                                <td><span th:text="${reminder.description}"> Description</span></td>
                                <td><span th:text="${#temporals.format(reminder.expiration, 'dd-MMMM-yyyy')}"> Expiration </span></td>
                                <td><span>
                                        <a th:href="@{'/user/reminders/edit/' + ${reminder.id}}"
                                            class="btn btn-primary" th:text="#{edit}">Edit</a>
                                        <a th:href="@{'/user/reminders/delete/' + ${reminder.id}}"
                                            class="btn btn-danger" th:text="#{delete}">Delete</a>
                                    </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </aside>

        </div>
    </section>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>