<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{wishlist}">Wishlist</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="icon" type="images/x-icon" href="/images/wishlist.icon.png" >
    <link rel="stylesheet" href="/css/dashboard.css">


</head>

<body>

<!--navigation-->
<div th:replace="~{fragments/head::head}"></div>

    <section class="main-content container-fluid">

        <div class="row">


            <aside class="left-side col-lg-2 col-md-12 border-right border-left border-dark mt-2">
                <div th:replace="~{fragments/sidebar-nav::sidebar-nav}"></div>
            </aside>

            <aside class="right-side col-xl-10 col-md-12">
                <div class="container mt-4">
                    <div class="row">
                        <h2 class="mt-2" th:text="#{wish.page.description}">Add a new item to your wishlist and share it with your friends.</h2>
                        <a class="btn btn-success" href="/user/wishes/create" th:text="#{add.new.wish}">Add New Wish</a>
                    </div>
                    <div class="row mt-4 border-top">

                        <h2 class="mb-4" th:text="#{your.wishlist} + ':'">Your Wishlist:</h2>
                        <div class="container-fluid mt-4">
                            <form th:action="@{/user/wishes/search}" th:method="get">
                                <div class="input-group mb-3">
                                    <input id="searchInput" th:name="searchValue" type="text" class="form-control col-6"
                                        th:placeholder="#{search.by.description}" aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <button class="btn btn-success" type="submit" th:text="#{search}">Search</button>
                                </div>
                            </form>
                            <form th:action="@{/user/wishes/filter}" th:method="get">
                                <h4 th:text="#{filter.by.price}">Filter by price:</h4>
                                <div class="input-group mb-3">
                                    <input id="to" th:name="maxPrice" type="number" class="form-control col-6"
                                        th:placeholder="#{max}" aria-label="to" aria-describedby="basic-addon2" required>
                                    <button class="btn btn-success" type="submit" th:text="#{filter}">Filter</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <section class="text-center mt-5">
                        <div class="container">
                            <table class="table table-sm table-striped table-hover table-responsive mb-5">
                                <thead class="thead-dark">
                                    <tr>
                                        <th th:text="#{description}"> Description </th>
                                        <th th:text="#{approximate.price}"> Approximate Price </th>
                                        <th th:text="#{link}"> Link </th>
                                        <th th:text="#{action}"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:if="${wishlist.empty}">
                                        <td colspan="2" th:text="#{no.wishlist.items.found}"> No Wishlist items found.</td>
                                    </tr>
                                    <tr th:each="wish : ${wishlist}">
                                        <td><span th:text="${wish.description}"> Description </span></td>
                                        <td><span th:text="${wish.approximatePrice}"> Approximate Price </span></td>
                                        <td><a th:href="${wish.link}" th:text="${wish.link}" target="_blank">Link</a>
                                        </td>
                                        <td>
                                            <span>
                                                <a th:href="@{'/user/wishes/edit/' + ${wish.id}}"
                                                    class="btn btn-primary" th:text="#{edit}">Edit</a>
                                                <a th:href="@{'/user/wishes/delete/' + ${wish.id}}"
                                                    class="btn btn-danger" th:text="#{delete}">Delete</a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </aside>

        </div>

    </section>




    <!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>

<style>
    .wishlist {
        background: #ffca2c;
        color: black;
    }

    .wishlist:hover {
        background: #ffca2c;
        color: black;
    }
</style>

</html>